<form class="form" [formGroup]="form" (submit)="login()">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="text" formControlName="password" />
  </mat-form-field>

  <mat-spinner
    class="spinner"
    *ngIf="isLoading$ | async"
    [diameter]="25"
  ></mat-spinner>

  <button
    *ngIf="!(isLoading$ | async)"
    mat-raised-button
    type="submit"
    color="primary"
  >
    Login
  </button>
</form>
